#videos .jcarousel-clip {
  width:  370px;
  height: 90px;
}

#videos .jcarousel-item {
  width: 115px;
  height: 90px;
}

#videos .jcarousel-container {
  padding: 10px 43px;
}

#events .jcarousel-container {
  padding: 20px;
}

#events .jcarousel-clip {
  width:  255px;
  height: 255px;
}

#events .jcarousel-item {
  width: 120px;
}

#events .jcarousel-item img {
  width: 125px;
  height: 125px;
}

.jcarousel-clip {
  overflow: hidden;
}

.jcarousel-item {
  margin-left: 0;
  margin-right: 10px;
  cursor: pointer;
}

.jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}

#videos .jcarousel-skin-bodyarmor {
  padding-left: 35px;
  clear: both;
}

#events .jcarousel-next {
  margin-top: -157px;
  margin-right: -15px;
}

#events .jcarousel-prev {
  margin-top: -157px;
}

#videos .jcarousel-next {
  margin-top: -73px;
  margin-right: -5px;
}

#videos .jcarousel-prev {
  margin-top: -73px;
  margin-left: -35px;
}

.jcarousel-next {
  float: right;
  width: 9px;
  height: 59px;
  cursor: pointer;
  background: transparent url(/images/carousel-next.png) no-repeat 0 0;
}

.jcarousel-next-disabled {
  cursor: default;
}

.jcarousel-prev {
  float: left;
  position: absolute;
  width: 9px;
  height: 59px;
  cursor: pointer;
  background: transparent url(/images/carousel-prev.png) no-repeat 0 0;
  margin-left: -20px;
}

.jcarousel-prev-disabled {
  cursor: default;
}