/* Videos */
#videos .jcarousel-clip {
  width:  490px;
  height: 90px;
  margin-left: -3px;
}

#videos .jcarousel-item {
  width: 119px;
  height: 90px;
  margin-right: 4px;
}

#videos .jcarousel-container {
  padding: 15px;
}

#videos .jcarousel-skin-bodyarmor {
  clear: both;
}

#videos .jcarousel-next {
  margin-top: -73px;
  margin-right: -7px;
}

#videos .jcarousel-prev {
  margin-top: -73px;
  margin-left: -14px;
}

/* Events */
#events .jcarousel-container {
  padding: 5px 20px;
}

#events .jcarousel-clip {
  width:  255px;
  height: 205px;
}

#events .jcarousel-item {
  width: 120px;
}

#events .jcarousel-item img {
  width: 125px;
  height: 100px;
}

#events .jcarousel-next {
  margin-top: -133px;
  margin-right: -15px;
}

#events .jcarousel-prev {
  margin-top: -133px;
}

/* Generic */
.jcarousel-clip {
  overflow: hidden;
}

.jcarousel-item {
  margin-left: 0;
  margin-right: 10px;
  cursor: pointer;
}

.jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}

.jcarousel-next {
  float: right;
  width: 9px;
  height: 59px;
  cursor: pointer;
  background: transparent url(/images/carousel-next.png) no-repeat 0 0;
}

.jcarousel-next-disabled {
  cursor: default;
}

.jcarousel-prev {
  float: left;
  position: absolute;
  width: 9px;
  height: 59px;
  cursor: pointer;
  background: transparent url(/images/carousel-prev.png) no-repeat 0 0;
  margin-left: -20px;
}

.jcarousel-prev-disabled {
  cursor: default;
}