#videos .jcarousel-clip {
  width:  420px;
  height: 75px;
}

#videos .jcarousel-item {
  width: 75px;
  height: 75px;
}

.jcarousel-container {
  padding: 20px;
}

#events .jcarousel-clip {
  width:  200px;
  height: 150px;
}

#videos .jcarousel-item {
  width: 95px;
}

#events .jcarousel-item {
  width: 95px;
}

.jcarousel-clip {
  overflow: hidden;
}

.jcarousel-item {
  margin-left: 0;
  margin-right: 10px;
  cursor: pointer;
}

.jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}

#events .jcarousel-next {
  margin-top: -100px;
}

#events .jcarousel-prev {
  margin-top: -100px;
}

#videos .jcarousel-next {
  margin-top: -60px;
  margin-right: -15px;
}

#videos .jcarousel-prev {
  margin-top: -60px;
}

.jcarousel-next {
  float: right;
  width: 9px;
  height: 59px;
  cursor: pointer;
  background: transparent url(/images/carousel-next.png) no-repeat 0 0;
}

.jcarousel-next-disabled {
  cursor: default;
}

.jcarousel-prev {
  float: left;
  position: absolute;
  width: 9px;
  height: 59px;
  cursor: pointer;
  background: transparent url(/images/carousel-prev.png) no-repeat 0 0;
  margin-left: -20px;
}

.jcarousel-prev-disabled {
  cursor: default;
}