#map {
  width: 520px;
}

#map_canvas {
  float: right;
  width: 60%;
  height: 500px;
}

#stores {
  float: left;
  width: 40%;
  height: 500px;
  overflow-y: scroll;
}

#stores ol {
  padding-left: 25px;
}

#stores .name {
  font-weight: bold;
}