<div>
  <!-- This is the empty bottle shown on mouse-over. Here you can customize the texts shown in the different bottles -->
  <div id="empty_bottle">
    <div id="text_raspberry" class="bottle_text">
      <div class="bottle_title">Raspberry<br/>Blueberry Goji</div>
      <ul>
        <!-- Raspberry empty bottle text -->
        <li>Sweet complex berry blend</li>
        <li>Formulated with proprietary nutracuetical blends + coconut water to effectively protect and restore</li>
      </ul>
    </div>

    <div id="text_strawberry" class="bottle_text">
      <div class="bottle_title">Strawberry<br/>Banana Guava</div>
      <ul>
        <!-- Strawberry empty bottle text -->
        <li>Smooth & sweet with coconut undertones</li>
        <li>Formulated with proprietary nutracuetical blends + coconut water to effectively protect and restore</li>
      </ul>
    </div>

    <div id="text_cherry" class="bottle_text">
      <div class="bottle_title">Cherry<br/>Citrus</div>
      <ul>
        <!-- Cherry empty bottle text -->
        <li>Cherry punch meets citrus lime</li>
        <li>Formulated with proprietary nutracuetical blends + coconut water to effectively protect and restore</li>
      </ul>
    </div>

    <div id="text_tropical" class="bottle_text">
      <div class="bottle_title">Tropical<br/>Mandarin</div>
      <ul>
        <!-- Tropical Mango empty bottle text -->
        <li>Mango with a mandarin twist</li>
        <li>Formulated with proprietary nutracuetical blends + coconut water to effectively protect and restore</li>
      </ul>
    </div>

    <div id="text_orange_mango" class="bottle_text">
      <div class="bottle_title">Orange Mango<br/>Black Tea</div>
      <ul>
        <!-- Orange Mango empty bottle text -->
        <li>Complex flavor that highlights how well coconut water and tea go together</li>
        <li>Formulated with proprietary nutracuetical blends</li>
      </ul>
    </div>

    <div id="text_pomegranate" class="bottle_text">
      <div class="bottle_title">Promegranate<br/>Acai Green Tea</div>
      <ul>
        <!-- Pomegranate empty bottle text -->
        <li>Complex flavor that highlights how well coconut water and tea go together</li>
        <li>Formulated with proprietary nutracuetical blends</li>
      </ul>
    </div>
  </div>

  <div id="bottles">
    <img src="/images/transp.gif" id="transparent_map" usemap="#bottles_map" />
    <img src="/images/background.jpg">

    <!-- This is the image map that defines the bottle areas to handle the mouse-over behavior -->
    <map name="bottles_map" id="bottles_map">
      <area id="raspberry" shape="rect" coords="5,118,88,346"/>
      <area id="strawberry" shape="rect" coords="90,118,173,346"/>
      <area id="cherry" shape="rect" coords="174,121,257,349"/>
      <area id="tropical" shape="rect" coords="258,117,341,345"/>
      <area id="orange_mango" shape="rect" coords="343,116,426,344"/>
      <area id="pomegranate" coords="429,118,512,346"/>
    </map>
  </div>
</div>

<!-- Facebook Like button for main image -->
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fdrinkbodyarmor&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

<!-- This is the introductory video. You can change the video by changing the iframe code -->
<div id="introduction_video">
  <!--
    Use this structure for a vimeo video:

    <iframe src="http://player.vimeo.com/video/9670565?title=0&amp;byline=0&amp;portrait=0" width="510" height="350" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  -->

  <iframe width="510" height="315" src="http://www.youtube.com/embed/WMUsF-YN1P8" frameborder="0" allowfullscreen></iframe>
</div>

<div class="separator"></div>

<h1>READY TO EXPERIENCE</h1>
<h2>THE DIFFERENCE?</h2>

<div id="locator">
  <p>
    <h3>PRODUCT</h3>
    <h4>LOCATOR</h4>
  </p>
  <p>
    <div class="fields">
      <input type="button" value="FIND A STORE" class="button" onclick="$('#store_locator_message').show();" />
    </div>
    <div class="map">
      <img src="/images/map.png">
    </div>
    <p id="store_locator_message" class="hide">We're still working on this. It'll be available soon!</p>
  </p>
  <!-- Facebook Like button for store locator -->
  <p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fdrinkbodyarmor&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></p>
</div>

<!-- Newsletter form by created with Wufoo -->
<div id="newsletter">
  <!-- Don't change the action url. It's used by Wufoo -->
  <form id="newsletter_form" method="post" action="https://promojam.wufoo.com/forms/s7p2m7/#public">
    <p>
      <h3>NEWSLETTER & EXCLUSIVE OFFER</h3>
      <h4>SIGNUP</h4>
    </p>
    <p>
    <div class="fields">
      <input id="Field5" name="Field5" type="text" class="field" size="20" />
      <input id="Field3" name="Field3" type="email" class="field" size="20" />
    </div>
    <div class="computer">
      <img src="/images/computer.png">
    </div>
    </p>
    <p>
      <input type="submit" class="button" value="SIGN UP" />
      <!-- Don't remove this hidden field. It's used by Wufoo -->
      <input type="hidden" id="idstamp" name="idstamp" value="TUUDYMtDWl8BmrNqonp5BeRHtzGKKh5ycitcQtcboFU=" />
    </p>
  </form>
  <!-- Facebook Like button for newsletter -->
  <p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fdrinkbodyarmor&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></p>
</div>

<div class="separator"></div>

<h1>WATCH US</h1>
<h2>IN ACTION</h2>

<div id="videos">
  <div id="current_video"></div>
  <!--
    We show in the carousel all the user youtube videos.
    You can change the user by setting the "data-user" attribute.
    We'll automatically build the videos carousel after getting all user videos.
    Don't change "id" or "class" attributes.
  -->
  <ul id="carousel" data-user="DrinkBodyArmor" class="jcarousel-skin-bodyarmor"></ul>
</div>

<div class="separator"></div>

<div id="events">
  <h1>EVENTS</h1>
  <h2>HERE'S THE SKINNY</h2>

  <h5>See Our Upcoming Events</h5>
  <!--
    This is the events pulldown. To add a new event, create a new option with a specific event id for the select:

    <option value="some_event">Some event in the pulldown</option>

    Then create a div using the "value" chosen for the option:

    <div id="some_event" class="event">
      <p>This is the description of the event</p>
      <a href="http://some/event/url" target="_blank" class="link">view more >></a>
    </div>

    Remember to add the same thing for option's "value" and div's "id".
    We use that to show the correct div depending on the selected option.
    Preserve the div's "class" attributes.
  -->
  <select>
    <option value="event1">SPARTAN RACE</option>
  </select>

  <div id="event1" class="event">
    <p>Saturday November 19th, 2011. It's a 5km race, fastest time should be around 30 minutes.</p>
    <a href="http://www.facebook.com/event.php?eid=288526601179969" target="_blank" class="link">Click for more event details &raquo;</a>
  </div>

  <br/ >
  <h5>See Pics From Past Events</h5>

  <!--
    This is the events carousel html structure to show 2 pictures per column.
    This is a sample column:

    <li>
      <a href="http://some/album/url"><img src="http://some/125x125picture/url"></a>
      <a href="http://another/album/url"><img src="http://another/125x125picture/url"></a>
    </li>

    You can add just picture but do that only in the last column so the carousel looks good.
  -->
  <ul id="events_carousel" class="jcarousel-skin-bodyarmor">
    <li>
      <!-- Banana Jam -->
      <a href="http://www.facebook.com/media/set/?set=a.272104402825646.58079.199404453428975&type=3" target="_blank"><img src="http://photos-g.ak.fbcdn.net/hphotos-ak-snc7/378763_272108519491901_199404453428975_684610_822564337_a.jpg"></a>
      <!-- World of Dance -->
      <a href="http://www.facebook.com/media/set/?set=a.263014000401353.56140.199404453428975&type=3" target="_blank"><img src="http://photos-h.ak.fbcdn.net/hphotos-ak-ash4/302979_263018913734195_199404453428975_657012_613670476_a.jpg"></a>
    </li>
    <li>
      <!-- Del Mar Mud Run -->
      <a href="http://www.facebook.com/media/set/?set=a.261211520581601.55662.199404453428975&type=3" target="_blank"><img src="http://photos-f.ak.fbcdn.net/hphotos-ak-ash4/320564_261212077248212_199404453428975_651977_1194037628_a.jpg"></a>
      <!-- Gladiator Rock'n Run -->
      <a href="http://www.facebook.com/media/set/?set=a.272109316158488.58080.199404453428975&type=3" target="_blank"><img src="http://photos-h.ak.fbcdn.net/hphotos-ak-ash4/314419_272110602825026_199404453428975_684680_109805098_a.jpg"></a>
    </li>
  </ul>

  <!-- Facebook Like button for events section -->
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fdrinkbodyarmor&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
</div>

<div id="twitter">
  <h1>ACTION</h1>
  <h2>AS IT HAPPENS</h2>

  <h5>Twitter Feed</h5>
  <a id="see_more" class="link" href="http://www.facebook.com/drinkbodyarmor?sk=app_53267368995" target="_blank">see more &raquo;</a>

  <ul id="feed" class="clear" data-username="drinkbodyarmor"></ul>

  <a id="follow_us" href="http://www.facebook.com/drinkbodyarmor?sk=app_53267368995"><img src="/images/twitter.png"></a>
</div>

<!--
  To show the promotions, remove the "hide" from the "class" attribute in the separator and the main promotions div.

  To add a promotion, use this html structure and append to <div id="promotions">:

  <div class="promotion">
    <img src="http://some/100x100picture/url">
    <div class="promotion_details">
      <h5>The Title here</h5>
      <p>
        The description here
      </p>
      <a class="link" href="http://promotion/page/url" target="_blank">view more >></a>
    </div>
  </div>
-->
<div class="separator hide"></div>

<div id="promotions" class="hide">
  <h1>BODYARMOR®</h1>
  <h2>CURRENT PROMOTIONS</h2>

  <div class="promotion">
    <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
    <div class="promotion_details">
      <h5>Promotion Title</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim... veniam, quis
      </p>
      <a class="link" href="http://google.com" target="_blank">view more >></a>
    </div>
  </div>

  <div class="promotion">
    <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
    <div class="promotion_details">
      <h5>Promotion Title</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim... veniam, quis
      </p>
      <a class="link" href="http://google.com" target="_blank">view more >></a>
    </div>
  </div>
</div>

<!--
  This is a html element used to resize the iframe and remove the scrollbars when showing inside facebook.
  After loading the page, we'll append a JS script here with some facebook code necessary to do that.
  More information about this workaround here: http://clockworkcoder.blogspot.com/2011/02/how-to-removing-facebook-application-i.html

  Set the "data-app" attribute to your facebook app id, otherwise, the workaround will not work.
-->
<div id="fb-root" data-app=""></div>

<!--
  This is the html template used to render the tweets.
  We use jQuery Template to insert data inside the html: http://api.jquery.com/jquery.tmpl/

  This is a reduced version of the tweet's JSON structure:

  created_at: "Fri Nov 04 16:32:13 +0000 2011"
  favorited: false
  id: 132495375754989570
  retweeted: false
  source: "web"
  text: "&gt;&gt; Text of the tweet"
  truncated: false
  user: Object
    name: "DrinkBODYARMOR"
    screen_name: "DrinkBODYARMOR"
-->
<script id="tweet_template" type="text/x-jquery-tmpl">
  <li class="tweet">
    <p class="text">
      ${text}
    </p>
    <span class="user">
      <a href="http://twitter.com/${user.screen_name}" class="link">${user.name}</a>
    </span>
    <span class="date">
      ${$.timeago(created_at)}
    </span>
  </li>
</script>

<!--
  This is the html template used to render the current video selected in the carousel.
  We use jQuery Template to insert data inside the html: http://api.jquery.com/jquery.tmpl/

  This is a reduced version of the Vimeo video JSON structure:

  description: "The description of the video"
  duration: 228
  embed_privacy: "anywhere"
  height: 360
  id: 30195371
  mobile_url: "http://vimeo.com/m/30195371"
  tags: "tag1, tag2"
  thumbnail_large: "http://b.vimeocdn.com/ts/203/444/203444961_640.jpg"
  thumbnail_medium: "http://b.vimeocdn.com/ts/203/444/203444961_200.jpg"
  thumbnail_small: "http://b.vimeocdn.com/ts/203/444/203444961_100.jpg"
  title: "The title"
  upload_date: "2011-10-07 12:03:08"
  url: "http://player.vimeo.com/video/30195371"
  user_name: "Drew Stearne"
  user_portrait_medium: "http://b.vimeocdn.com/ps/264/278/2642781_75.jpg"
  user_url: "http://vimeo.com/drewstearne"
  width: 640
-->
<script id="video_template" type="text/x-jquery-tmpl">
  <div class="player">
    <iframe src="${url}"
            width="320"
            height="220"
            frameborder="0"
            webkitAllowFullScreen
            allowFullScreen>
    </iframe>
  </div>
  <div class="details">
    <h6>${title.slice(0, 50)}</h6>
    <p>${description.slice(0, 280)}</p><br/>
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fdrinkbodyarmor&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
  </div>
</script>