<div id="introduction">
  INTRODUCING BODYARMOR
  <div id="bottles">
    BOTTLES
  </div>
</div>

<div class="separator"></div>

<div id="nutricional">
  NUTRICIONAL INFORMATION
</div>

<div class="separator"></div>

<div id="introduction_video">
  <iframe src="http://player.vimeo.com/video/9670565?title=0&amp;byline=0&amp;portrait=0" width="510" height="350" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
</div>

<div class="separator"></div>

<h1>READY TO EXPERIENCE</h1>
<h2>THE DIFFERENCE?</h2>

<div id="locator">
  <h3>PRODUCT</h3>
  <h4>LOCATOR</h4>
  <input type="button" value="FIND A STORE" class="button" />
</div>

<div id="newsletter">
  <form id="newsletter_form" method="post" action="https://promojam.wufoo.com/forms/s7p2m7/#public">
    <h3>NEWSLETTER & EXCLUSIVE OFFER</h3>
    <h4>SIGNUP</h4>
    <input id="Field5" name="Field5" type="text" size="20" placeholder="Your Name" />
    <input id="Field3" name="Field3" type="email" size="20" placeholder="Your Email" />
    <input type="submit" class="button" value="SIGN UP" />
    <input type="hidden" id="idstamp" name="idstamp" value="TUUDYMtDWl8BmrNqonp5BeRHtzGKKh5ycitcQtcboFU=" />
  </form>
</div>

<div class="separator"></div>

<h1>WATCH US</h1>
<h2>IN ACTION</h2>

<div id="videos">
  <div id="player"></div>  
  <div id="details">
    <div id="title"></div>  
    <div id="description"></div>  
  </div>
  <ul id="carousel" data-album="61259" class="jcarousel-skin-bodyarmor"></ul>
</div>

<div class="separator"></div>

<div id="events">
  <h1>EVENTS</h1>
  <h2>HERE'S THE SKINNY</h2>

  <select>
    <option value="event1">Event1</option>
    <option value="event2">Event2</option>
  </select>

  <div id="event_description"></div>

  <div id="event1" class="event">
    <div class="description">The Description</div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/725/20972504_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/725/20972504_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/725/20972504_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
    </div>
  </div>

  <div id="event2" class="event">
    <div class="description">The Description2</div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
    </div>
  </div>

  <ul id="carousel" data-profile="PepsiIndia" class="jcarousel-skin-bodyarmor" width="250px"></ul>
</div>

<div id="twitter">
  <h1>ACTION</h1>
  <h2>AS IT HAPPENS</h2>

  <div id="feed_header">Twitter Feed</div>
  <a id="see_more" href="http://twitter.com/drinkbodyarmor" target="_blank">see more >></a>

  <ul id="feed" data-username="drinkbodyarmor"></ul>
</div>

<div class="separator"></div>

<div id="promotions">
  <h1>BODYARMOR</h1>
  <h2>CURRENT PROMOTIONS</h2>
</div>