<div id="introduction">
  INTRODUCING BODYARMOR
  <div id="bottles">
    BOTTLES
  </div>
</div>

<div class="separator"></div>

<div id="nutricional">
  NUTRICIONAL INFORMATION
</div>

<div class="separator"></div>

<div id="introduction_video">
  <iframe src="http://player.vimeo.com/video/9670565?title=0&amp;byline=0&amp;portrait=0" width="510" height="350" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
</div>

<div class="separator"></div>

<h1>READY TO EXPERIENCE</h1>
<h2>THE DIFFERENCE?</h2>

<div id="locator">
  <h3>PRODUCT</h3>
  <h4>LOCATOR</h4>
  <input type="button" value="FIND A STORE" class="button" onclick="window.location = '/map'" />
</div>

<div id="newsletter">
  <form id="newsletter_form" method="post" action="https://anibalcucco.wufoo.com/forms/z7x3k1/#public">
    <h3>NEWSLETTER & EXCLUSIVE OFFER</h3>
    <h4>SIGNUP</h4>
    <input id="Field1" name="Field1" type="text" size="20" />
    <input id="Field2" name="Field2" type="email" size="20" />
    <input type="submit" class="button" value="SIGN UP" />
    <input type="hidden" id="idstamp" name="idstamp" value="+P05MjuPOWVs32Pi64VAy3TyEhyUZN+c+GmgHfviOI8=" />
  </form>
</div>

<div class="separator"></div>

<h1>WATCH US</h1>
<h2>IN ACTION</h2>

<div id="videos">
  <div id="player"></div>  
  <div id="details">
    <div id="title"></div>  
    <div id="description"></div>  
  </div>
  <ul id="carousel" data-album="61259" class="jcarousel-skin-videos"></ul>
</div>

<div class="separator"></div>

<div id="events">
  <h1>EVENTS</h1>
  <h2>HERE'S THE SKINNY</h2>
  <ul id="carousel" data-profile="PepsiIndia" class="jcarousel-skin-videos"></ul>
</div>

<div id="twitter">
  <h1>ACTION</h1>
  <h2>AS IT HAPPENS</h2>

  <div id="feed_header">Twitter Feed</div>
  <a id="see_more" href="http://twitter.com/drinkbodyarmor" target="_blank">see more >></a>

  <ul id="feed" data-username="drinkbodyarmor"></ul>
</div>

<div class="separator"></div>

<div id="promotions">
  <h1>BODYARMOR</h1>
  <h2>CURRENT PROMOTIONS</h2>
</div>