<div>
  <div id="empty_bottle">
    <div id="text_raspberry" class="bottle_text">
      <h7>Raspberry<br/>Blueberry Goji</h7>
      <ul>
        <li>Smooth & sweet with coconut undertones</li>
        <li>Formulated with proprietary nutracuetical blends</li>
        <li>10% coconut water to effectively protect and restore.</li>
      </ul>
    </div>

    <div id="text_strawberry" class="bottle_text">
      <h7>Strawberry<br/>Banana Guava</h7>
      <ul>
        <li>Smooth & sweet with coconut undertones</li>
        <li>Formulated with proprietary nutracuetical blends</li>
        <li>10% coconut water to effectively protect and restore.</li>
      </ul>
    </div>

    <div id="text_cherry" class="bottle_text">
      <h7>Cherry<br/>Citrus</h7>
      <ul>
        <li>Smooth & sweet with coconut undertones</li>
        <li>Formulated with proprietary nutracuetical blends</li>
        <li>10% coconut water to effectively protect and restore.</li>
      </ul>
    </div>

    <div id="text_tropical" class="bottle_text">
      <h7>Tropical<br/>Mandarin</h7>
      <ul>
        <li>Smooth & sweet with coconut undertones</li>
        <li>Formulated with proprietary nutracuetical blends</li>
        <li>10% coconut water to effectively protect and restore.</li>
      </ul>
    </div>

    <div id="text_orange_mango" class="bottle_text">
      <h7>Orange Mango<br/>Black/Green Tea</h7>
      <ul>
        <li>Smooth & sweet with coconut undertones</li>
        <li>Formulated with proprietary nutracuetical blends</li>
        <li>10% coconut water to effectively protect and restore.</li>
      </ul>
    </div>

    <div id="text_pomegranate" class="bottle_text">
      <h7>Promegranate<br/>Acai Green Tea</h7>
      <ul>
        <li>Smooth & sweet with coconut undertones</li>
        <li>Formulated with proprietary nutracuetical blends</li>
        <li>10% coconut water to effectively protect and restore.</li>
      </ul>
    </div>
  </div>

  <div id="bottles">
    <img src="/images/transp.gif" id="transparent_map" usemap="#bottles_map" />
    <img src="/images/background.jpg">

    <map name="bottles_map" id="bottles_map">
      <area id="raspberry" shape="rect" coords="5,118,88,346"/>
      <area id="strawberry" shape="rect" coords="90,118,173,346"/>
      <area id="cherry" shape="rect" coords="174,121,257,349"/>
      <area id="tropical" shape="rect" coords="258,117,341,345"/>
      <area id="orange_mango" shape="rect" coords="343,116,426,344"/>
      <area id="pomegranate" coords="429,118,512,346"/>
    </map>
  </div>
</div>

<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>

<div id="introduction_video">
  <iframe src="http://player.vimeo.com/video/9670565?title=0&amp;byline=0&amp;portrait=0" width="510" height="350" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
</div>

<div class="separator"></div>

<h1>READY TO EXPERIENCE</h1>
<h2>THE DIFFERENCE?</h2>

<div id="locator">
  <p>
    <h3>PRODUCT</h3>
    <h4>LOCATOR</h4>
  </p>
  <p>
    <div class="fields">
      <input type="button" value="FIND A STORE" class="button" />
    </div>
    <div class="map">
      <img src="/images/map.png">
    </div>
  </p>
  <p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe></p>
</div>

<div id="newsletter">
  <form id="newsletter_form" method="post" action="https://promojam.wufoo.com/forms/s7p2m7/#public">
    <p>
      <h3>NEWSLETTER & EXCLUSIVE OFFER</h3>
      <h4>SIGNUP</h4>
    </p>
    <p>
    <div class="fields">
      <input id="Field5" name="Field5" type="text" class="field" size="20" />
      <input id="Field3" name="Field3" type="email" class="field" size="20" />
    </div>
    <div class="computer">
      <img src="/images/computer.png">
    </div>
    </p>
    <p>
      <input type="submit" class="button" value="SIGN UP" />
      <input type="hidden" id="idstamp" name="idstamp" value="TUUDYMtDWl8BmrNqonp5BeRHtzGKKh5ycitcQtcboFU=" />
    </p>
  </form>
  <p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe></p>
</div>

<div class="separator"></div>

<h1>WATCH US</h1>
<h2>IN ACTION</h2>

<div id="videos">
  <div id="current_video"></div>
  <ul id="carousel" data-album="61259" class="jcarousel-skin-bodyarmor"></ul>
</div>

<div class="separator"></div>

<div id="events">
  <h1>EVENTS</h1>
  <h2>HERE'S THE SKINNY</h2>

  <h5>See Our Upcoming Events</h5>
  <select>
    <option value="event1">Event1</option>
    <option value="event2">Event2</option>
  </select>

  <div id="current_event"></div>

  <div id="event1" class="event">
    <div class="description">The Description</div>
    <div class="url">http://www.google.com</div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/725/20972504_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/725/20972504_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/725/20972504_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/203/444/203444961_100.jpg">
    </div>
  </div>

  <div id="event2" class="event">
    <div class="description">The Description2</div>
    <div class="url">http://www.google.com</div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
    </div>
    <div class="item">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
      <img src="http://b.vimeocdn.com/ts/209/730/20973011_100.jpg">
    </div>
  </div>
</div>

<div id="twitter">
  <h1>ACTION</h1>
  <h2>AS IT HAPPENS</h2>

  <h5>Twitter Feed</h5>
  <a id="see_more" class="link" href="http://twitter.com/drinkbodyarmor" target="_blank">see more >></a>

  <ul id="feed" class="clear" data-username="drinkbodyarmor"></ul>
</div>

<div class="separator"></div>

<div id="promotions">
  <h1>BODYARMOR</h1>
  <h2>CURRENT PROMOTIONS</h2>
</div>

<div id="fb-root" data-app=""></div>

<script id="tweet_template" type="text/x-jquery-tmpl">
  <li class="tweet">
    <p class="text">
      ${text}
    </p>
    <span class="user">
      <a href="http://twitter.com/${user.screen_name}" class="link">${user.name}</a>
    </span>
    <span class="date">
      ${$.timeago(created_at)}
    </span>
  </li>
</script>

<script id="video_template" type="text/x-jquery-tmpl">
  <div class="player">
    <iframe src="http://player.vimeo.com/video/${id}?title=0&amp;byline=0&amp;portrait=0"
            width="320"
            height="220"
            frameborder="0"
            webkitAllowFullScreen
            allowFullScreen>
    </iframe>
  </div>
  <div class="details">
    <h6>${title.slice(0, 50)}</h6>
    <p>${description.slice(0, 280)}</p><br/>
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
  </div>
</script>

<script id="event_template" type="text/x-jquery-tmpl">
  <div id="event_${id}">
    <p>${description}</p>
    <ul class="jcarousel-skin-bodyarmor">
      {{each(i, item) items}}
        <li><a href="${url}" target="_blank">{{html $(item).html() }}</a></li>
      {{/each}}
    </ul>
    <iframe src="//www.facebook.com/plugins/like.php?href=${url}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35&amp;appId=148154988610481" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
  </div>
</script>