<script id="store_template" type="text/x-jquery-tmpl">
  <li>
    <div class="name">
      ${name}
    </div>
    <div class="info">
      ${phone}<br />
      ${address.split(", ")[0]}<br />
      ${address.split(", ")[1] + ", " + address.split(", ")[2]}
    </div>
    <a href="#" class="directions" data-address="${address}">Get Directions</a>
  </li>
</script>