<div id="map">
  <img src="/images/storelocator.jpg">

  <div class="separator"></div>

  <h1>BODYARMOR®</h1>
  <h2>STORE LOCATOR</h2>

  <div id="form">
    <%= form_tag({ :url => '#' }, { :id => 'search_form' }) do %>
      <table>
        <tr>
          <td>Your zip code:</td>
          <td><%= text_field_tag 'address', '', :size => 20, :value => postal_code, :class => "field" %></td>
        </tr>
        <tr>
          <td>Search within:</td>
          <td><%= select_tag "within", options_for_select(within_options, 5) %></td>
          <td><%= submit_tag "FIND A STORE", :id => "search_button", :class => "button" %></td>
        </tr>
      </table>
    <% end %>
  </div>

  <div id="stores">
    <div class="separator"></div>
    <ol id="stores_list" type="N"></ol>
  </div>
  <div id="map_canvas"></div>
</div>

<script id="store_template" type="text/x-jquery-tmpl">
  <li>
    <h1>${name}</h1>
    <p>
      ${address.split(", ")[0]}<br />
      ${address.split(", ")[1] + ", " + address.split(", ")[2]}
    </p>
    <a href="#" class="link directions" data-address="${address}">Get Directions</a>
  </li>
  <div class="separator"></div>
</script>

<div id="fb-root" data-app=""></div>