<p>Address:</p>
<% form_tag({ :url => '#' }, { :id => 'search_form' }) do %>
  <%= text_field_tag 'address', '', :size => 70 %>
  <%= text_field_tag 'within', '10', :size => 20 %>
  <%= submit_tag "Search" %>
<% end %>

<div id="map_canvas" style="width:600px; height:400px;"></div>
